@import "normalize";
@import "layout";
@import "variables.scss";

body{
  font-family: $main-font-family;
  font-size: 16px;
  font-weight: 400;
}

.container{
  max-width: 1170px;
}

.outer-section{
  text-align: center;
  padding: 89px 0 102px;

  &__title{
    font-family: $title-font-family;
    color: #333b46;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 4px;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__text{
    color:  #81868e;
    font-size: 14px;
    line-height: 25px;
    max-width: 457px;
    margin: 41px auto 60px;
  }
}

//---------------HEADER-MAIN---------------
.main-head{
  width: 100%;
  height: 737px;
  padding: 39px 0 77px;
  background: url("../img/bg-head.jpg") 50% 50% no-repeat #000;
  background-size: cover;
}

//---------------HEADER-MENU---------------
.top-menu{
  &__item{
    float: left;
    padding: 5px 20px;
    cursor: pointer;

    &:hover{
      border: 1px solid $text-color;
      border-radius: 20px;
    }
  }

  &__link{
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
  }
}

.active-menu-link{
  border: 1px solid $text-color;
  border-radius: 20px;
}

//---------------HEADER-BANNER---------------
.top-banner{
  color: $text-color;
  text-align: center;
  padding-top: 232px;
  max-width: 605px;
  margin: 0 auto;

  &__title{
    font-family: $title-font-family;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 7px;
    line-height: 70px;
    text-transform: uppercase;
  }

  &__text{
    line-height: 28px;
    margin: 10px 0;
  }

  &__arrow{
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: 0;
    left: 50%;
    margin-left: -18px;
    background: url(../img/head-btn.png) no-repeat 50%;
    transition: transform .2s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }
}

//---------------PORTFOLIO---------------
.portfolio{
  background-color: #f1f1f1;

  &__filter{
    color:  #464646;
    line-height: 12px;
    display: inline-block;
    font-weight: 600;
    padding: 0 13px;
    position: relative;
    cursor: pointer;
  }
}
.portfolio__filter,
.active-filter{
  &:after{
    content: '';
    height: 2px;
    width: 38px;
    background-color: #19bd9a;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    margin-top: 25px;
    visibility: hidden;
  }
  &:hover:after{
    visibility: visible;
  }
}
.active-filter:after{
  visibility: visible;
}

.portfolio-works {
  margin-top: 70px;

  &__item {
    padding: 5px;
  }
}

//---------------THE-TEAM---------------
.team{
  &__cards{
    padding: 0 70px;
    text-align: right;
  }

  &__name{
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    margin-right: 40px;

    &:after{
      content: '';
      height: 42px;
      width: 4px;
      background-color: #19bd9a;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -40px;
      margin-top: 5px;
    }
  }

  &__prof{
    font-family: $title-font-family;
    color:  #81868e;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4px;
    line-height: 25px;
    text-transform: uppercase;
    font-style: italic;
    margin-right: 40px;
  }

  &__text{
    max-width: 370px;
    color:  #81868e;
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
    margin-right: 40px;
  }
}
.dots{
  .dot{
    border-radius: 50%;
    background-color:  #19bd9a;
    width: 10px;
    height: 10px;
  }
}

//---------------CONTACT-US---------------
.contact-us{
  text-align: center;
  padding: 58px 0;
  background: url("../img/bg-contact.jpg") 50% no-repeat #000000;
  background-size: cover;

  &__title{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 29px;
  }

  &__btn{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    text-transform: none;
    border-radius: 20px;
    padding: 5px 20px;

    &:hover{
      border: 1px solid #19bd9a;
      color: #19bd9a;
    }
  }
}

//---------------TESTIMONIALS---------------
.testimonials{
  background-color: #f1f1f1;

  &__cards{
    background-color: #fff;
    padding: 52px 120px 60px 96px;
    text-align: left;
  }

  &__descr{
    display: block;
    padding-left: 200px;
  }

  &__text{
    color:  #81868e;
    line-height: 28px;
  }

  &__name{
    color:  #19bd9a;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin: 30px 0 0;
  }
  
  &__prof{
    color:  #464646;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}

//---------------CONTACT---------------
.contact{
  padding-bottom: 0;
}
#map{
  width: 100%;
  height: 439px;
}

//---------------FOOTER---------------
.main-footer{
  padding: 72px 0 69px;
  background-color: #fcfcfc;
  text-align: center;

  &__text{
    color:  #81868e;
    font-size: 14px;
    line-height: 25px;
    margin: 24px 0 37px;
  }

  &__social{
    display: inline-block;
    padding: 4px;

    &:hover{
      transform: scale(1.2);
    }
  }
}